h1{
background-color: lightseagreen;
text-align: center;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 50px;

}
body{
    background-color: lightblue;

    }

P{
    font-size: 20px;
    }

ul{
    font-size: 20px;
    
}

label{
    font-size: 20px;
  
   
}
    
